body{
    background-color: #e0f5ff;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#signup label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

#username,
#password{
  padding: 5px;
  margin-top: 5px;
  border-radius: 12px;
  width:202.18px;
}

#signup input[type="submit"] {
    width:202.18px;

    display: block;
    padding: 10px;
    background-color:darkblue;
    color:white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 1rem;
    font-family:'Courier New', Courier, monospace;
    margin-top:20px;
}

h1{
    margin-top:80px;
    font-size:32px;
    width:100%;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
}

